<!doctype html>
<html>
   <body>
      {% if marks>50 %}
         <h1> You Survived The Game of Bones!</h1>
      {% else %}
         <h1>You Died! Better luck next game!</h1>
      {% endif %}
   </body>
</html>